.Rproj.user
*.code-workspace
_site/
_freeze/
*.Rproj
.Rhistory
.RData
.ipynb_checkpoints
art/
_publish.yml

### macOS ###
# General
*/.DS_Store
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
/.quarto/

/.luarc.json
