.Rproj.user
*.code-workspace
_site/
*.Rproj
.Rhistory
.RData
.ipynb_checkpoints

### macOS ###
# General
*/.DS_Store
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
/.quarto/
/Static/ltximg

/.luarc.json
